body{

    box-sizing: border-box;
}
.section{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.tabscontent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}.tabshead{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
    align-self: center;
 }
 .tab-li{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }
 .hidden{
     display: none;
 }
 .cont1{
     background-color: purple;
 }
 .cont2{
     background-color: blue;
 }
 .cont3{
     background-color: green;
 }
 .cont4{
     background-color: yellowgreen;
 }
 .active{
     color: chartreuse;
     background-color: fuchsia;
 }